# AWS Lambda API Endpoint
# For local testing with Lambda container:
# VITE_CHESS_API_ENDPOINT=http://localhost:9000/2015-03-31/functions/function/invocations
#
# For deployed Lambda Function URL:
# VITE_CHESS_API_ENDPOINT=https://your-function-url.lambda-url.us-east-1.on.aws/
#
# For deployed API Gateway:
# VITE_CHESS_API_ENDPOINT=https://your-api-id.execute-api.us-east-1.amazonaws.com/prod/move

VITE_CHESS_API_ENDPOINT=http://localhost:9000/2015-03-31/functions/function/invocations
